<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  # Has to be in the approot for openshift v3
  RewriteRule ^(.*)$ public/index.php [QSA,L]

  # Handle authorization header
  RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
